<% include ../partials/header%>
<! Shows details of blog post>
<div id="blogdiv" class="ui raised segment">
    <div class="ui huge header"> <%= blog.title %></div>
    <div class="ui top attached segment">
        <div id="height" class="item">
                <img class="ui centered rounded image" src="<%=blog.image %>" alt="">
                <div class="content">
                    <span><%=blog.created.toDateString() %></span>
                    <span>Created by <%= blog.author.username %></span>
                </div>
                <div class="description">
                        <! evaluets the body as html>
                        <p><%-blog.body %></p>
                </div>
                <%if(currentUser && blog.author.id.equals(currentUser._id)){%>
                    <a class="ui green basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
                    <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                    </form>
                <%}%>
        </div>
        <div id="padd">
            <p>
                <button class="ui blue basic button"><a href="/blogs/<%= blog._id %>/comments/new">Add new comment</a></button>  
            </p>
        </div>   
    </div>
    <div class="ui top attached segment">
        <%blog.comments.forEach(function(comment){%>
            <div class="ui top attached segment">
                <p>
                    <strong><%=comment.author.username %></strong> - <%=comment.text %>
                    <span id="rightcenter"><%=comment.created.toDateString() %></span> 
                    <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                    <a class="ui blue basic button" href="/blogs/<%= blog._id%>/comments/<%=comment._id%>/edit">Edit</a>
                    <form action="/blogs/<%= blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <input type="submit" class="ui red basic button" value="Delete">
                    </form>
                    <%}%>
                </p>   
            </div>
        <%});%>
    </div>
</div>

<% include ../partials/footer%>